.header-bar {
    background-color: #005c8a;
    padding-top: 20px;
    color: white;
    border-bottom: 5px solid rgba(0, 0, 0, 0.1);
}

#headerButtonDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-button {
    background-color: white;
    margin-left: 5px;
    color: black;
    font-size: 25px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: auto;
}

#votingTitle {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 50px;
}