.header-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #005c8a;
    padding: 20px;
    color: white;
}

/* Left side of the header */
.filter-section {
    display: flex;
    align-items: center;
    height: 100%;
}

/* I'm losing my mind. This is to try to line up the dropdown, filter, and add item button */
#filterButton {
    padding: 10px 15px;
}

#addItemButton {
    height: 40px;
}

select {
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    height: 40px;
    margin-bottom: 5px;
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
}

button {
    background-color: white;
    margin-left: 5px;
    color: black;
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 40px;
}

button:hover {
    background-color: #f0f0f0;
}

.inventory-list {
    padding: 20px;
    flex-grow: 1;
    overflow-y: auto;
    padding-bottom: 120px;
    /* Padding at bottom causes menu bottom to move up! :D thank god! */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #e0e0e0;
    color: black;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-button {
    background-color: #005c8a;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-button:hover {
    background-color: #004669;
}

.popup {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    position: relative;
}

button#deleteItemButton {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button#deleteItemButton:hover {
    background-color: darkred;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#itemCategory {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#submitItemButton {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background-color: #005c8a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submitItemButton:hover {
    background-color: #004669;
}