body {
  background-color: rgb(222, 222, 222);
}

.device {
    margin: auto;
    width: 640px;
    height: 960px;
    overflow: hidden;
    background-color: white;
    position: relative;
}



/* standard colors: 
background: white
accent: teal
header font color: teal
in item font color: white
icons: white
*/
